C:/Users/Black/Desktop/Dict2Anki/Words/
C:/Users/Black/Desktop/Dict2Anki/venv/
C:/Users/Black/Desktop/Dict2Anki/temp/
C:/Users/Black/Desktop/Dict2Anki/parsers/media/
C:/Users/Black/Desktop/Dict2Anki/dictionaries/
C:/Users/Black/Desktop/Dict2Anki/Cards/
