*
!*/
!./mining.pyw
!./.gitignore
!./README.md
!./LICENSE
!./linux_installation_gudie.txt
!./linux_requirements.txt
!./win_requirements.txt
!/consts/**
!/plugins/**
!/plugins_loading/*
!/app_utils/**
!/app_demonstration/**
/**/__pycache__/**/*
*.json
