**
!/consts/**
!/plugins/**
!/plugins_loading/*
!/app_utils/**
!/.gitignore
!/app_demonstration/**
!mining.pyw
!requirements.txt
!linux_installation_gudie.txt
!win_requirements.txt
!LICENSE
!README.md